/* in order to use this animation link this css 
file to the corresponding webpage then the transition will be 
in animation*/

body {
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10deg);
    }

    to{
        opacity: 1;
        transform: rotate(0);
    }
}